@page "/buttontest"
@page "/buttons"

<h3>@Title</h3>
<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            <CustomEditButtonComponent Caption="ShowMessage" OnClick="@ChangeTitle" />

            <CustomEditButtonComponent Caption="Edit Caption" OnClick="@showConfirmation" Color="danger" Icon="pencil" IsSmall="false" />

            <AddNewButtonComponent />
        </div>
    </div>
</div>    
@code {
    private string Title = "";

    [CascadingParameter] 
    IModalService Modal { get; set; } = default!;

    [Inject]
    ModalManager ModalManager { get; set; } = default!;
    private async Task ChangeTitle()
    {
        await ModalManager.ShowMessageAsync("Show Message Title", "Record deleted", 3000);
    }

    async Task showConfirmation()
    {
        var res = await ModalManager.ConfirmationAsync("Confirmations", "Are you sure that it will be deleted?");

        if (res) Title = "Yes clicked"; else Title = "No clicked";
    }
}
